{% extends 'base.html.twig' %}

{% block title %}Nouvel Auteur{% endblock %}

{% block body %}
    <h1>Crée un nouvel Auteur</h1>

    {{ include('author/_form.html.twig') }}

    <a href="{{ path('app_author_index') }}" class="btn btn-info">back to list</a>
{% endblock %}
