h1 {
    font-size: 64px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: $blue;
}

header {
    nav {
        &>ul {
            list-style-type: none;
            @include flex();
            &>li {
                font-size: 20px;
                cursor: pointer;
                &:not(:last-child) {
                    margin-right: 15px;
                }
                &:hover {
                    color: $red;
                }
            }
        }
    }
}