{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('book_create')}}">Créer un nouveau livre</a>
    {% for book in books %}
        <div class="container border border-primary">
            <div class="row">
                <article>
                    {% include 'book/_bookCard.html.twig' %}
                    <p>écrite par {{ book.author}} </p>
                    <p>ISBN : {{ book.isbn }}</p>
                </article>
            </div>
        </div>

    {% endfor %}

{% endblock %}

{% block page_title %}
    Liste des livres
{% endblock %}

