{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouveau livre</h1>
    <div class="container">
        <div class="form-group">
            {{ form(bookForm) }}
        </div>
    </div>

{% endblock %}

{% block page_title %}
 New
{% endblock %}