{% extends 'base.html.twig' %}

{% block body %}

    {% for book in books %}
        <article>
            {% include 'book/_bookCard.html.twig' %}
            <p>écrite par {{ book.author}} </p>
            <p>ISBN : {{ book.isbn }}</p>
        </article>
    {% endfor %}

{% endblock %}

{% block page_title %}
    Liste des livres
{% endblock %}

