{% extends 'base.html.twig' %}

{% block title %}Editer le Genre{% endblock %}

{% block body %}
    <div class="container">
        <h1>Editer le genre</h1>

        {{ include('kind/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('app_kinds_index') }}" class="btn btn- mt-2">back to list</a>

        {{ include('kind/_delete_form.html.twig') }}
    </div>
{% endblock %}
