{% extends 'base.html.twig' %}

{% block title %}New genre{% endblock %}

{% block body %}
    <h1>Creer un genre</h1>

    {{ include('kind/_form.html.twig') }}

    <a href="{{ path('app_kinds_index') }} class="btn btn-info">back to list</a>
{% endblock %}
